<div class="jumbotron">
	<h1>This is a sample blog website</h1>
	<h3>Stack</h3>
	<ul>
		<li>Ruby on Rails</li>
		<li>PostgreSQL</li>
		<li>Bootstrap</li>
	</ul>

	<h3>Functionality</h3>
	<p>
	Users can sign up for accounts, create articles, and add categories.
	Users can then view all other users and articles.  Articles can be viewed by user and by category.
	</p>
</div>
